.out-layer{
    background-image: url('../../../public/image_login.png');
    /* ; Replace with your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-account-container {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .message {
    text-align: center;
    color: red;
    margin-top: 20px;
  }

  .Login-account {
    text-align: center;
    margin-top: 20px;
  }

  .Login-link{
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;

  }

  .logo-preview {
    width: 15%;
    height: 15%;
    animation: pulse 2s infinite ease-in-out;
    border-radius: 40%;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Scales the logo to 110% */
    }
    100% {
      transform: scale(1); /* Returns to original size */
  }
} 
  
  